.button {
  height: var(--height);
  width: var(--width);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:hover {
  color: red;
  transform: scale(1.1);
}

.clearText {
  cursor: pointer;
}

.clearText:hover {
  color: red;
  transform: scale(1.5);
}
